.option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 4px;
  font-weight: 300;
  width: 116px;
  height: 40px;
  cursor: pointer;
}

.active {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4.45674px 8.91347px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(27.8546px);
  font-weight: 500;
  cursor: default;
  animation: activateOption 0.2s ease;
}

@keyframes activateOption {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
