.content-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 470px;
  box-sizing: border-box;
  /* position: relative; */
}

.fade-div {
  width: 520px;
  height: 50px;
  position: absolute;
  bottom: 122px;
  /* background-color: red; */
  background: linear-gradient(
    181.79deg,
    rgba(236, 232, 229, 0.29) 28.51%,
    rgba(237, 232, 228) 73.46%
  );
}
