.content-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 470px;
  box-sizing: border-box;
}

.fade-div {
  width: 97%;
  height: 50px;
  margin-top: -50px;
  z-index: 10;
  position: relative;
  background: linear-gradient(
    181.79deg,
    rgba(236, 232, 229, 0.29) 28.51%,
    rgba(237, 232, 228) 73.46%
  );
}

.horizontal-line {
  border: 1px solid #dddddd;
  width: 100%;
}
