.page-content-wrapper {
  overflow-y: scroll;
  height: 500px;
}

.fade-div {
  width: 97%;
  height: 50px;
  margin-top: -50px;
  z-index: 10;
  position: relative;
  /* background: linear-gradient(
    181.79deg,
    rgba(236, 232, 229, 0.29) 28.51%,
    rgba(237, 232, 228) 73.46%
  ); */
}

.horizontal-line {
  width: 100%;
}

@media (max-width: 710px) {
  .experience-content-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    max-height: 500px;
    height: 420px;
    padding-bottom: 30px;
    z-index: 10;
  }

  .fade-block {
    display: block;
    width: 97%;
    height: 30px;
    margin-top: -28px;
    z-index: 50;
    background: linear-gradient(
      181.79deg,
      rgba(236, 232, 229, 0.29) 28.51%,
      rgba(237, 232, 228) 73.46%
    );
    position: relative;
  }
}

@media (min-height: 800px) {
  .experience-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 30px;
    z-index: 10;
  }
}
