@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

html {
  min-height: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}

body {
  min-height: 100vh;
  width: 100%;
}

#all-content-wrapper {
  height: 100vh;
}

@media (max-width: 751px) {
  #all-content-wrapper {
    /* height: 100%; */
    /* height: 100vh; */
  }
}

@media (max-width: 751px) {
  #all-content-wrapper {
    /* height: 100%; */
    /* height: 100vh; */
  }

  body {
    /* height: 100%; */
    /* height: 100vh; */
  }
}
