/* Sun / Clear */
.sun-container {
  width: 201px;
  height: 201px;
  left: calc(50% - 201px / 2 + 0.5px);
  bottom: 678px;

  /* background: #ffc43f;
  opacity: 0.77;
  filter: blur(50px); */
  margin-bottom: 100px;
}

.thunderstorm-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  margin-bottom: 40px;
  filter: blur(4px);
}

.thunderstorm-cloud {
  display: block;
  z-index: 30;
  width: 260px;
  height: 260px;
  color: #818181;
}

.thunderstorm-thunder {
  display: block;
  margin-top: -25%;
  margin-left: 27%;
  width: 100px;
  height: auto;
  color: #ffd632;
  z-index: 20;
}

.clouds-container {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: -40px;
  margin-bottom: 20px;
  filter: blur(3px);
}
.clouds-one {
  width: 200px;
  height: 200px;
  color: #c3c3c3;
  position: absolute;
  left: -10px;
  bottom: -12px;
  z-index: 30;
}
.clouds-two {
  width: 240px;
  height: 240px;
  color: #b9b9b9;
  position: absolute;
  left: 80px;
  bottom: -10px;
}

.drizzle-container {
  filter: blur(4px);
  margin-top: -15px;
  margin-bottom: 20px;
}

.drizzle {
  width: 300px;
  height: auto;
  color: #827d7d;
}

.rain-container {
  filter: blur(5px);
  margin-bottom: 60px;
}
.rain {
  width: 230px;
  height: auto;
  color: #827d7d;
}

.snow-container {
  filter: blur(4px);
  margin-bottom: 60px;
}
.snow {
  width: 230px;
  height: auto;
  color: #f6f6f6;
}

@media (max-width: 700px) {
  .sun-container {
    width: 181px;
    height: 181px;
  }

  .clouds-container {
    width: 300px;
    height: 300px;
    margin-top: -100px;
    margin-bottom: 40px;
  }
  .clouds-one {
    width: 150px;
    height: 150px;
    left: 10px;
    bottom: -12px;
  }
  .clouds-two {
    width: 190px;
    height: 190px;
    left: 100px;
    bottom: -10px;
  }

  .snow {
    width: 200px;
  }
}
@media (max-width: 640px) {
  .sun-container {
    width: 181px;
    height: 181px;
    margin-top: 20px;
  }

  .rain {
    width: 210px;
  }
}

@media (max-width: 540px) {
  .sun-container {
    margin-top: 40px;
  }

  .clouds-container {
    width: 300px;
    height: 300px;
    margin-top: -140px;
    margin-bottom: 40px;
  }
  .clouds-one {
    width: 120px;
    height: 120px;
    left: 40px;
    bottom: -12px;
  }
  .clouds-two {
    width: 160px;
    height: 160px;
    left: 100px;
    bottom: -10px;
  }

  .drizzle {
    width: 280px;
    height: auto;
    color: #827d7d;
  }
}
