@media (max-width: 920px) {
  .weather-container {
    margin-top: 40px;
  }
}

/* Moon 2 */
.moon-container {
  /* background-color: #939393; */
  background-color: #c7c1b9;
  position: relative;
  /*padding: 10px;*/
  /* left: 40%; */
  width: 201px;
  height: 201px;
  border-radius: 50%;
  box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0 0 10px 2px rgba(229, 229, 229, 0.3),
    5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0px 0 3px 2px rgba(229, 229, 229, 0.3);

  filter: blur(1px);
  /* top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; */
}
@media (max-width: 700px) {
  .moon-container {
    width: 181px;
    height: 181px;
  }
}
@media (max-width: 640px) {
  .moon-container {
    width: 151px;
    height: 151px;
  }
}
@media (max-width: 540px) {
  .moon-container {
    margin-top: 40px;
  }
}

/* .moon-container::after {
  content: "";
  background-color: rgba(162, 162, 162, 0.81);
  display: block;
  position: absolute;
  left: 80px;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 3px 0 0 1px rgba(98, 98, 98, 0.51),
    7px 45px 0 -5px rgba(162, 162, 162, 0.9),
    9px 45px 0 -5px rgba(100, 100, 100, 0.51),
    35px 20px 0 -10px rgba(162, 162, 162, 0.9),
    37px 20px 0 -10px rgba(100, 100, 100, 0.51);
} */

/* Loader */
.loaderContainer {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.line-2-vertical {
  --size: 34px;
  --stroke-width: calc(var(--size) / 8);
  --color: #cdcdcd;
  --animation-timing-function: linear;
  --animation-duration: 1s;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
}

.line-2-vertical::before,
.line-2-vertical::after {
  content: "";
  position: absolute;
  transform: scaleY(1);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    line-2-vertical-animation;
}

.line-2-vertical::before {
  inset: 0;
  border-right: var(--stroke-width) solid var(--color);
  border-left: var(--stroke-width) solid var(--color);
}

.line-2-vertical::after {
  top: 0;
  bottom: 0;
  left: calc(50% - var(--stroke-width) / 2);
  border-left: var(--stroke-width) solid var(--color);
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes line-2-vertical-animation {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}
